/* App.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    background-color: #c2ddf7;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  .playlist {
    margin-bottom: 20px;
  }
  
  .playlist button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  .playlist button:hover {
    background-color: #e0e0e0;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .controls button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #0056b3;
  }
  